# IDE-specific files
.vscode/
.idea/

# Virtual environment
.env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Logs and temporary files
*.log
*.DS_Store

checkpoints/
logs/
mnist_dataset/